<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Ftd Second Kill Sign Out</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap4.6.0/bootstrap.min.css}"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <!--Favicon-->
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <form class="form-signin" th:action="@{/admin/doLogout}" method="post">
      <img class="mb-4" th:src="@{/favicon.ico}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" >Are you sure to logout?</h1>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
      <a class="btn btn-lg btn-primary btn-block" th:href="@{/index.html}">Cancel</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2022</p>
    </form>
  </body>
</html>
